/**
 * Custom Stylesheet
 *
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 * 
 */

/*  Google Material Icons config [local lib]  */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/*===============================================================*/
/*  屏幕像素 600 - 980 之间的布局  */
@media only screen and (max-width : 980px) {
    header, main, footer {
        padding-left: 0;
    }

}

/*  屏幕像素小于 600 的布局  */
@media only screen and (max-width : 600px) {
}

/*===============================================================*/
/*  主要样式布局  */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    margin: 0;
}

.container {
    width: 85%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

